<script type="application/ld+json">
{"@context":"https://schema.org","@type":"Article","headline":{{ page.ld_headline | jsonify }},"description":{{ page.ld_description | jsonify }},"inLanguage":"ko","datePublished":"{{ page.published_at }}","dateModified":"{{ page.modified_at }}","author":{"@type":"Organization","name":"에카원"},"publisher":{"@type":"Organization","name":"메아리온"},"copyrightHolder":{"@type":"Organization","name":"에카원"},"copyrightYear":{{ page.published_at | slice: 0, 4 }},"isAccessibleForFree":true,"mainEntityOfPage":"{{ site.url }}{{ page.url }}"}
</script>
